* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin-inline: auto;
}

header {
  height: 100vh;
  background-image: url("img/image.jpg'");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navigation {
  width: 100%;
  padding: 10px 0;
}

.box-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.box li {
  margin-left: 40px;
}

.box li a {
  text-decoration: none;
  color: white;
  transition: all .3s ease;
}

.navigation .box-navigation .box:nth-child(1) h1 {
  font-size: 38px;
  color: white;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {
  color: greenyellow;
}

.navigation .box-navigation .box:nth-child(3) {
  display: none;
}

.navigation .box-navigation .box:nth-child(2) ul li i {
  display: none;
}

@media screen and (max-width: 990px) {
  .navigation .box-navigation .box:nth-child(2) {
    display: flex;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: white;
    width: 250px;
    border-radius: 10px;
    opacity: 0;
    transition: all .3s ease;
  }

  .navigation .box-navigation .menu-navigation.menu-active {
    opacity: 1;
    top: 100px;
  }

  .navigation .box-navigation .box:nth-child(2) ul {
    flex-direction: column;
  }

  .navigation .box-navigation .box:nth-child(2) ul li a {
    color: black;
  }

  .navigation .box-navigation .box:nth-child(2) ul li {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  .navigation .box-navigation .box:nth-child(2) ul li i {
    display: flex;
    margin-inline: 10px;
    font-size: 24px;
  }

  .navigation .box-navigation .box:nth-child(3) {
    display: flex;
    align-items: center;
  }

  .about .box-about {
    display: flex;
    flex-direction: column-reverse;
  }
}

.navigation .box-navigation .box:nth-child(3) i {
  font-size: 28px;
}

@media screen and (max-width: 550px) {
  .navigation .box-navigation .box:nth-child(2) {
    width: 150px;
  }

  .about .box-about .box:nth-child(2) img {
    width: 200px;
  }
}

/* hero style */
header .hero {
  position: absolute;
  top: 20%;
  right: 40%;
  left: 10%;
  font-size: 28px;
}

header .hero h1 {
  color: white;
}

header .hero h1.gor {
  color: #d1e231;
}

header .hero button {
  font-size: 15px;
  background-color: #d1e231;
  block-size: 40px;
  left: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

header .hero button:hover {
  background-color: white;
}

@media screen and (max-width: 768px) {
  header .hero h1 {
    font-size: 28px;
  }
}

/* about style */
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: azure;
}

.about .box-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .box-about .box:nth-child(1) {
  padding: 30px;
}

.about .box-about .box:nth-child(1) h1 {
  text-align: center;
  margin-bottom: 20px;
}

.about .box-about .box:nth-child(1) p {
  text-align: center;
  font-size: 12px;
}

.about .box-about .box:nth-child(2) img {
  border-radius: 10px;
  width: 400px;
}

@media screen and (max-width: 550px) {
  .about .box-about .box:nth-child(2) img {
    width: 300px;
  }
}

/* Tata Cara style */
.cara {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("{{ asset('img/kok.jpeg') }}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cara .box-cara {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cara .box-cara .box:nth-child(1) {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  font-size: 25px;
}

.cara .box-cara .box:nth-child(2) {
  background-color: azure;
  opacity: 90%;
  border: 1px solid #ccc;
  margin: 10px auto;
  font-size: 15px;
}

.cara .box-cara .box:nth-child(2) p {
  margin-inline: 8px;
  margin-bottom: 8px;
}

/* Kontak style */
.kontak {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kontak .box-kontak .box:nth-child(1) {
  text-align: center;
  background-color: #ccc;
  font-weight: bold;
}

.kontak .box-kontak .box-map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 0 auto;
}

.kontak .box-kontak .box-map .box {
  margin-right: 120px;
}
/* Kontak style */
    


/* Login */
.login {
  background-image: url("img/image.jpg");
  background-size: cover;
}

/* Center daftar */

.daftar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: var(--bg);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.center h1 {
  text-align: center;
  padding: 20px 0;
  color: var(--primary);
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
/* End Center daftar */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: var(--bg);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.center h1 {
  text-align: center;
  padding: 20px 0;
  color: var(--primary);
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid black;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0;
  height: 2px;
  background: yellowgreen;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: yellowgreen;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: black;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
.button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.signup_link {
  margin : 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}

/* End Login */

/* Modal */
/* melebarkan modal */
.edit {
  max-width: 800px;
}

/* tengahkan gambar */
.edit img {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 30%;
}

.modal-body img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* Modal */

/*  My Class*/
.table-inti {
  background-color: var(--primary);
}

.judul {
  color: var(--primary);
}

.text {
  border: 2px solid var(--primary);
  border-radius: 8px;
  background-color: var(--bg);
}
.text-head {
  margin-top: 8rem;
}

.btn-inti {
  background-color: var(--primary) !important;
}

.btn-inti:hover {
  background-color: var(--hover) !important;
}

/* End My Class */

/* SideBar */
.sidebar ul {
  list-style: none;
  margin-top: 50px;
}

.sidebar li {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 5px 0;
}

.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  color: var(--primary);
}

/* End SideBar */

/* Nav  */
.nav-item {
  margin: 3px !important;
  padding: 5px;
}

.nav-item a:hover {
  background-color: var(--primary);
  border-radius: 12px;
}
/* End Nav */

/* Jumbotron */
.jumbotron {
  background-image: url("img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
}
.jumbotron::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 1%,
    rgba(238, 238, 238, 0) 25%
  );
}
.jumbotron .contain {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.jumbotron .contain h1 {
  font-size: 5em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.jumbotron .contain h1 span {
  color: var(--primary);
}
.jumbotron .contain p {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1);
}
.jumbotron .contain .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* End Jumbotron */

/* index */
.about,
.pembayaran,
.contact {
  padding: 8rem 7% 1.4rem;
  color: black;
}
.about h2,
.pembayaran h2,
.contact h2,
.lapangan h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.about h2 span,
.pembayaran h2 span,
.contact h2 span,
.lapangan h2 span {
  color: var(--primary);
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 30rem;
}
.about .row .about-img img {
  width: 100%;
}
.about .row .contain {
  flex: 1 1 35rem;
  padding: 0 1rem;
  margin-left: 1rem;
}
.about .row h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .contain p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
.about .row .contain span {
  color: var(--primary);
}
/* End Index */

/* Contact */
.map {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.contact .row form {
  padding: 2rem 2rem;
  text-align: center;
}
.contact .row .input-group {
  margin: 1rem;
}
.contact .row .input-group input,
.contact .row .input-group .input-group-text {
  padding: 1.5rem;
}
.contact .row form button {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: var(--primary);
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.5rem;
}
/* End Contact */

/* footer */
footer {
  background-color: var(--primary);
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  color: black;
  margin: 1rem;
}
footer .social a:hover {
  color: var(--bg);
}
footer .links {
  margin-bottom: 2rem;
}
footer .links a {
  color: black;
  padding: 0.7rem 1rem;
  text-decoration: none;
}
footer .links a:hover {
  color: var(--bg);
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* End Footer */


/* CSS untuk styling tabel */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
  border-top: 2px solid #dee2e6;
}

.table .thead-inti th {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

/* CSS untuk pagination */
.pagination {
  justify-content: center;
  margin-top: 1rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #dc3545;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #dc3545;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

